<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="potal" translate="label" sortOrder="300">
            <label>POTAL</label>
        </tab>
        <section id="potal" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Landed Cost</label>
            <tab>potal</tab>
            <resource>Potal_LandedCost::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Get your API key at potal.app/dashboard</comment>
                </field>
                <field id="seller_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Seller ID</label>
                </field>
                <field id="origin_country" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Origin Country</label>
                    <comment>2-letter ISO code (e.g. US, CN, DE)</comment>
                </field>
                <field id="enable_ddp" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Enable DDP Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add import duties to checkout total</comment>
                </field>
            </group>
        </section>
    </system>
</config>
