{
  "openapi": "3.1.0",
  "info": {
    "title": "POTAL - Total Landed Cost Calculator",
    "description": "Calculate the true total cost of cross-border purchases including import duties, taxes, and shipping fees for 240 countries and territories. Includes sanctions screening (OFAC SDN + CSL 21K entries), FTA lookup (63 agreements), AI HS classification, and processing fees for 12 countries. Multi-language support (50 languages).",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://www.potal.app/api/v1"
    }
  ],
  "paths": {
    "/calculate": {
      "post": {
        "operationId": "calculateLandedCost",
        "summary": "Calculate the total landed cost for a product being shipped internationally",
        "description": "Given a product price, origin country, destination country, and optional details like shipping cost and product name, calculates the full landed cost including import duties, VAT/GST, customs processing fees, and any applicable taxes. Returns a detailed breakdown of all costs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["price", "originCountry", "destinationCountry"],
                "properties": {
                  "price": {
                    "type": "number",
                    "description": "Product price in the origin country's typical selling currency (USD equivalent). Example: 49.99"
                  },
                  "shippingPrice": {
                    "type": "number",
                    "description": "Shipping cost in USD. Default: 0. Example: 8.50"
                  },
                  "origin": {
                    "type": "string",
                    "description": "Origin country as 2-letter ISO code. Examples: CN (China), DE (Germany), JP (Japan), IT (Italy), GB (United Kingdom)"
                  },
                  "destinationCountry": {
                    "type": "string",
                    "description": "Destination country as 2-letter ISO code. Examples: US, GB, DE, CA, AU, JP, FR, KR"
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "Destination ZIP/postal code. Required for US destinations to calculate state sales tax. Example: 10001"
                  },
                  "productName": {
                    "type": "string",
                    "description": "Name of the product for automatic HS Code classification. Examples: Cotton T-Shirt, Laptop, Running Shoes, Leather Handbag"
                  },
                  "productCategory": {
                    "type": "string",
                    "description": "Product category to help with classification. Examples: electronics, apparel, footwear, accessories, food"
                  },
                  "hsCode": {
                    "type": "string",
                    "description": "If known, the HS Code (Harmonized System) for precise duty calculation. Example: 6109.10 (cotton t-shirts)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful calculation with full cost breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productPrice": {
                          "type": "number",
                          "description": "Original product price"
                        },
                        "shippingCost": {
                          "type": "number",
                          "description": "Shipping cost"
                        },
                        "importDuty": {
                          "type": "number",
                          "description": "Calculated import duty"
                        },
                        "vat": {
                          "type": "number",
                          "description": "VAT or GST amount"
                        },
                        "mpf": {
                          "type": "number",
                          "description": "Merchandise Processing Fee (US only)"
                        },
                        "salesTax": {
                          "type": "number",
                          "description": "State/local sales tax"
                        },
                        "totalLandedCost": {
                          "type": "number",
                          "description": "Total cost the buyer will pay including all duties, taxes, and fees"
                        },
                        "isDutyFree": {
                          "type": "boolean",
                          "description": "Whether the item qualifies for duty-free treatment"
                        },
                        "breakdown": {
                          "type": "array",
                          "description": "Detailed breakdown of each cost component",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "note": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "listSupportedCountries",
        "summary": "Get a list of all supported countries with their tax and duty information",
        "description": "Returns all 240 supported countries with VAT/GST rates, average duty rates, de minimis thresholds, and currency information. Supports multi-language country names via ?lang= parameter (50 languages).",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "default": "en" },
            "description": "Language code for country names. Supports 50 languages: en, ko, ja, zh, es, fr, de, pt, it, ru, ar, hi, th, vi, id, tr, pl, nl, sv, da, fi, no, cs, ro, hu, uk, el, he, ms, bg, etc."
          }
        ],
        "responses": {
          "200": {
            "description": "List of 240 supported countries with tax details and localized names"
          }
        }
      }
    },
    "/screening": {
      "post": {
        "operationId": "screenDeniedParty",
        "summary": "Screen a party against sanctions and denied-party lists",
        "description": "Check a person or entity name against OFAC SDN, BIS Entity List, CSL, and other sanctions databases (21,301 total entries from 19 sources). Returns match results with confidence scores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Person or entity name to screen. Example: 'Huawei Technologies'"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country ISO2 code to narrow results. Example: 'CN'"
                  },
                  "lists": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Specific lists to check. Default: all. Options: OFAC_SDN, BIS_ENTITY, BIS_DPL, STATE_DTC, etc."
                  },
                  "minScore": {
                    "type": "number",
                    "description": "Minimum match score 0.5-1.0. Default: 0.8"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screening results with match details"
          }
        }
      }
    },
    "/fta": {
      "get": {
        "operationId": "lookupFTA",
        "summary": "Look up Free Trade Agreements between two countries",
        "description": "Check if a Free Trade Agreement exists between origin and destination countries. Returns FTA name, preferential duty rates, and rules of origin requirements. Covers 63 FTAs.",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Origin country ISO2 code. Example: 'KR'"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Destination country ISO2 code. Example: 'US'"
          },
          {
            "name": "hsCode",
            "in": "query",
            "schema": { "type": "string" },
            "description": "HS code for product-specific FTA rate. Example: '6109.10'"
          }
        ],
        "responses": {
          "200": {
            "description": "FTA details and preferential rates if applicable"
          }
        }
      }
    },
    "/classify": {
      "post": {
        "operationId": "classifyProduct",
        "summary": "AI-powered HS code classification for a product",
        "description": "Classify a product into an HS (Harmonized System) code using a 3-stage AI pipeline: vector search, keyword matching, and LLM classification. Returns HS code, description, and confidence level.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productName"],
                "properties": {
                  "productName": {
                    "type": "string",
                    "description": "Product name or description. Example: 'cotton t-shirt', 'laptop computer'"
                  },
                  "productCategory": {
                    "type": "string",
                    "description": "Product category hint. Example: 'apparel', 'electronics'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HS code classification result with confidence"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
